<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".admin.PushNotify"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SoupIt">
        <activity android:name=".activity.EventsDetails" />
        <activity android:name=".activity.Events" />
        <activity android:name=".activity.OpenGames" />
        <activity android:name=".activity.HowWork" />
        <activity android:name=".activity.ViewSubmission" />
        <activity android:name=".admin.NoInternet" />
        <activity android:name=".activity.Share" />
        <activity android:name=".activity.Test" />
        <activity android:name=".activity.Good_News" />
        <activity android:name=".activity.JoinUs" />
        <activity android:name=".activity.ContactUs" />
        <activity android:name=".activity.Game" />
        <activity android:name=".activity.Soul_Guru" />
        <activity android:name=".activity.Story_Read" />
        <activity android:name=".activity.Short_Story" />
        <activity android:name=".activity.Blogs_Read" />
        <activity android:name=".activity.Blogs" />
        <activity android:name=".admin.Signup" />
        <activity android:name=".admin.LoginNum" />
        <activity android:name=".activity.PublishStory" />
        <activity android:name=".OnBoardScreen.IntroActivity" />
        <activity android:name=".activity.Profile" />
        <activity android:name=".Home" />
        <activity android:name=".activity.Quotes" />
        <activity android:name=".admin.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts"
            android:exported="true"/>
    </application>


</manifest>